*{
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: ;
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 10px; */
  background-color: antiquewhite;
}
.container div {
  background-color: #8cc0f3;
  /* width: 17rem; */
  /* height: 10rem; */
}

.left-hand {

}